.table {
  width: 100%;
  /* border-collapse: collapse; */
  border: 1px solid #ccc;

  td {
    text-align: center;
  }
}
.tableControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}
.pagination {
  text-align: center;
}
.pagination > div {
  display: inline-block;
}
